# Database
spring.datasource.url=jdbc:postgresql://localhost:5433/agente_compras_db
spring.datasource.username=postgres
spring.datasource.password=${DB_PASSWORD}

# JPA
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

# API Keys
groq.api.key=${GROQ_API_KEY}
serpapi.api.key=${SERPAPI_API_KEY}
evolution.instance=${EVOLUTION_INSTANCE}
evolution.url=http://localhost:8081
evolution.api.key=${EVOLUTION_API_KEY}

# Logging
logging.level.br.com.marcusferraz=DEBUG

# Custom App Settings
app.base-url=${APP_BASE_URL}